body {
    margin: 0;;
}
.draw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.coloring,
.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #fef1a9;
}
.img img {
    max-width: 100%;
}

.tool {
    display: inline-block;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
}

.tab__btns {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    transition: all .2s;
    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.28);
    text-indent: -120px;
    overflow:  hidden;
}
.btn-pencil {
    background-image: url('../img/Asset/Button/Pencil_Button.png');
    background-size: 277%;
    background-position: 45% 84%;
    background-repeat: no-repeat;
}
.btn-brush {
    background-image: url('../img/Asset/Button/Brush_Button.png');
    background-size: 275%;
    background-position: 50% 83%;
    background-repeat: no-repeat;
}
.btn-crayon {
    background-image: url('../img/Asset/Button/Crayon_Button.png');
    background-size: 277%;
    background-position: 50% 8%;
    background-repeat: no-repeat;
}
.btn-eraser {
    background-image: url('../img/Asset/Button/Eraser_Button.png');
    background-size: 280%;
    background-position: 44% 7%;
    background-repeat: no-repeat;
}
.btn-save {
    background-image: url('../img/Asset/Button/Save_Button.png');
    background-size: 280%;
    background-position: 55% 11%;
    background-repeat: no-repeat;
}
.btn-close {
    background-image: url('../img/Asset/Button/Close_Button.png');
    background-size: 222%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}

.tab__bodys {
    display: none;
}

.tab__check {
    display: none;
}

.tab__check:checked+.tab__btns {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
    transition: all .2s;
}


.coloring {
    padding: 0;
}
.color-list {
    display: flex;
    margin-top: 24px;
}
.color-list .color-item {
    width: 8.33vw;
    height: 20vh;
    background-position: center;
    background-size: 790%;
    background-repeat: no-repeat;
    transition: all .2s;
    cursor: pointer;
}
.color-list.brush .color-item {
    background-size: 750%;
}
.color-list.crayon .color-item {
    background-position-x: center;
    background-position-y: 70%;
}
.color-list.brush .color-item {
    background-position-x: center;
    background-position-y: 70%;
}

.color-list .color-item.active {
    background-position-y: 72%;
}
.color-list.crayon .color-item.active {
    background-position-y: 92%;
}
.color-list.brush .color-item.active {
    background-position-y: 84%;
}
.color-list.pencil .color-item.color-1 {
    background-image: url('../img/Asset/Pencil/Pencil_1.png');
}
.color-list.pencil .color-item.color-2 {
    background-image: url('../img/Asset/Pencil/Pencil_2.png');
}
.color-list.pencil .color-item.color-3 {
    background-image: url('../img/Asset/Pencil/Pencil_3.png');
}
.color-list.pencil .color-item.color-4 {
    background-image: url('../img/Asset/Pencil/Pencil_4.png');
}
.color-list.pencil .color-item.color-5 {
    background-image: url('../img/Asset/Pencil/Pencil_5.png');
}
.color-list.pencil .color-item.color-6 {
    background-image: url('../img/Asset/Pencil/Pencil_6.png');
}
.color-list.pencil .color-item.color-7 {
    background-image: url('../img/Asset/Pencil/Pencil_7.png');
}
.color-list.pencil .color-item.color-8 {
    background-image: url('../img/Asset/Pencil/Pencil_8.png');
}
.color-list.pencil .color-item.color-9 {
    background-image: url('../img/Asset/Pencil/Pencil_9.png');
}
.color-list.pencil .color-item.color-10 {
    background-image: url('../img/Asset/Pencil/Pencil_10.png');
}
.color-list.pencil .color-item.color-11 {
    background-image: url('../img/Asset/Pencil/Pencil_11.png');
}
.color-list.pencil .color-item.color-12 {
    background-image: url('../img/Asset/Pencil/Pencil_12.png');
}

.color-list.brush .color-item.color-1 {
    background-image: url('../img/Asset/Brush/Brush_1.png');
}
.color-list.brush .color-item.color-2 {
    background-image: url('../img/Asset/Brush/Brush_2.png');
}
.color-list.brush .color-item.color-3 {
    background-image: url('../img/Asset/Brush/Brush_3.png');
}
.color-list.brush .color-item.color-4 {
    background-image: url('../img/Asset/Brush/Brush_4.png');
}
.color-list.brush .color-item.color-5 {
    background-image: url('../img/Asset/Brush/Brush_5.png');
}
.color-list.brush .color-item.color-6 {
    background-image: url('../img/Asset/Brush/Brush_6.png');
}
.color-list.brush .color-item.color-7 {
    background-image: url('../img/Asset/Brush/Brush_7.png');
}
.color-list.brush .color-item.color-8 {
    background-image: url('../img/Asset/Brush/Brush_8.png');
}
.color-list.brush .color-item.color-9 {
    background-image: url('../img/Asset/Brush/Brush_9.png');
}
.color-list.brush .color-item.color-10 {
    background-image: url('../img/Asset/Brush/Brush_10.png');
}
.color-list.brush .color-item.color-11 {
    background-image: url('../img/Asset/Brush/Brush_11.png');
}
.color-list.brush .color-item.color-12 {
    background-image: url('../img/Asset/Brush/Brush_12.png');
}

.color-list.crayon .color-item.color-1 {
    background-image: url('../img/Asset/Crayon/Crayon_1.png');
}
.color-list.crayon .color-item.color-2 {
    background-image: url('../img/Asset/Crayon/Crayon_2.png');
}
.color-list.crayon .color-item.color-3 {
    background-image: url('../img/Asset/Crayon/Crayon_3.png');
}
.color-list.crayon .color-item.color-4 {
    background-image: url('../img/Asset/Crayon/Crayon_4.png');
}
.color-list.crayon .color-item.color-5 {
    background-image: url('../img/Asset/Crayon/Crayon_5.png');
}
.color-list.crayon .color-item.color-6 {
    background-image: url('../img/Asset/Crayon/Crayon_6.png');
}
.color-list.crayon .color-item.color-7 {
    background-image: url('../img/Asset/Crayon/Crayon_7.png');
}
.color-list.crayon .color-item.color-8 {
    background-image: url('../img/Asset/Crayon/Crayon_8.png');
}
.color-list.crayon .color-item.color-9 {
    background-image: url('../img/Asset/Crayon/Crayon_9.png');
}
.color-list.crayon .color-item.color-10 {
    background-image: url('../img/Asset/Crayon/Crayon_10.png');
}
.color-list.crayon .color-item.color-11 {
    background-image: url('../img/Asset/Crayon/Crayon_11.png');
}
.color-list.crayon .color-item.color-12 {
    background-image: url('../img/Asset/Crayon/Crayon_12.png');
}
